<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 7 day"
  ExpiresByType image/gif "access plus 7 day"
  ExpiresByType image/png "access plus 7 day"
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType text/javascript "access plus 7 day"
  ExpiresByType application/javascript "access plus 1 year"
</IfModule>
